{{ define "main" }}

<!-- page-title -->
<section class="section bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4>{{ .Title }}</h4>
      </div>
    </div>
  </div>
</section>
<!-- /page-title -->

<!-- vlog single -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="list-inline d-flex justify-content-between py-3">
          <li class="list-inline-item"><i class="ti-user mr-2"></i>Post by {{.Site.Params.author}}</li>
          <li class="list-inline-item"><i class="ti-calendar mr-2"></i>{{ .PublishDate.Format "Jan 02, 2006" }}</li>
        </ul>
        <article class="content">
        <!-- YouTube Video -->
          <div class="video-wrap">
            <div class="video-container">
              <iframe class="img-fluid rounded float-left mr-5 mb-4" src="https://www.youtube.com/embed/{{ .Site.Params.visual.video.youtubeId }}?rel=0&amp;controls=0&amp;showinfo=0&amp;loop=1&amp;playlist={{ .Site.Params.visual.video.youtubeId }}&amp;autoplay=1{{ if .Site.Params.visual.video.mute }}&amp;mute=1{{ end }}" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <!-- /YouTube Video -->
          
          {{.Content}}
        </article>
      </div>
      
    </div>
  </div>
</section>
<!-- /vlog single -->

{{ end }}